@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width:400px) {
    .global-search {
        padding: 20px 0;
        text-align: center;
    }

    body {
        padding-bottom: 15px;
    }

    .global-search {
        text-align: center;
        padding: 10px;
    }

    .global-search .form-control {
        width: 500px;
    }

    .btn {
        background-color: #060802;
        border: none;
        color: whitesmoke;
    }

    .btn a {
        color: whitesmoke;
    }

    .btn:hover {
        background-color: #ffc20c;
        color:  #060802;
    }

    .step-links a {
        color: whitesmoke;
    }
}
