body {
  background-color: white;
}

#lefttopcorner{
  background-color: rgb(97, 78, 48);
  display: inline-block;
  position: fixed;
  right: 0%;
  padding: 0;
}

#lefttopcorner ul{
  list-style-type: none;
  margin: 0;
}

#lefttopcorner li {
  display: inline;
  margin: 0%;
}

#lefttopcorner a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#lefttopcorner a:hover{
  background-color: #ddd;
  color: black;
}

#lefttopcorner a.active{
  background-color: #4CAF50;
  color: white;
}


#searchset {
  margin-top: 100px;
}