body {
  background-color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#lefttopcorner {
  background-color: white;
  display: inline-block;
  position: absolute;
  right: 1%;
  top: 1.5% !important;

}

#lefttopcorner ul {
  list-style-type: none;
  margin: 0;
}

#lefttopcorner li {
  display: inline;
  margin: 0%;
}

#lefttopcorner a {
  float: left;
  color: rgb(97, 78, 48);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

#lefttopcorner a.active {
  background-color: #4CAF50;
  color: white;
}


#searchset {
  margin-top: 100px;
}

img.mlogo:hover,
img.mlogo:focus {
  width: 572px;
  height: 140px;
  transition-duration: 1s;
}

.logoleftop {
  margin-left: 30px;
  margin-top: 10px;
}

.output-message {
  text-align: center;
}

.search-result {
  margin: auto;
  width: 75%;
}

.cereal {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nutrition-facts {
  display: flex;
  flex-direction: row;
}

.nutrition-facts p {
  padding-right: 20px;
}

.no-result-label {
  text-align: center;
}

.sfooter{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: lightgray;
  color: black;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#filter{
  /* position: absolute; */
  align-items: center;
  display: none;
  width: 400px;
  /* height: 580px; */
  background-color: #F6F6F6;
  border: 0.5px solid lightgray;
  border-radius: 5px;
  /* margin-left: 30%; */
  margin: auto;
  padding: 30px;
  padding-bottom: 20px;
  margin-top: -20px;
  margin-bottom: 10px;

}

.filtercat h4{
  text-align: left;
  padding-left: 10px;
  font-weight: bold;
  font-size: 18px;
}

.filtercat ul{
  text-align: left;
  list-style-type: none;
  font-weight: bold;
  padding-bottom: 5px;
}
ul {
  padding-left: 10px;
}

#filter .filtercat label.category-label{
  margin-right: 40px;
  margin-left:3px;
  margin-top: -5px;
}

#filterbutton{
  border:none;
  background-color:transparent;
  outline:none;
  display: inline-block;
  background-image: url(/static/filtericon.png);
  background-size: 30px;
  height: 30px;
  width: 30px;
  vertical-align: middle;
}

#ranktitle{
  margin-top: 20px;
  font-size: 64px;
  text-align: center;
  padding: 2%
}

#rankfilterpg{
  background-color: fff3e0;
  width: 90%;
  height: 90%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

#rankform{
  display: inline-flex;
  justify-content: left;
  margin-left: 30px;
}

.filterrank button{
  display: flex;
  justify-content: left;
  margin-top: 10px;
  padding: 10px;
}

.filterbutton {
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  padding: 12px 16px;
  border-radius: 10px;
  margin-right: 10px;
}

.filterButton:hover {
  background-color: #ddd;
}

.filterButton.active {
  background-color: #666;
  color: white;
}