<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <div class="topcorner">
            <p>Project Name:  Cerealizer </p>
            <p>Student Name:  hw534, jn437, yy596, sk854, jk2753</p>
        </div>
        <div id="lefttopcorner">
          <ul>
              <li><a href="RandomCereal.html">Random Cereal Generator</a></li>
              <li><a href="Top100.html">Top 100</a></li>
              <li><a href="comparecereals.html">Compare Cereals</a></li>
          </ul>
        </div>

    </body>


</html>
