<html>

<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="topcorner">
        <p>Project Name: Cerealizer </p>
        <p>Student Name: hw534, jn437, yy596, sk854, jk2753</p>
    </div>
    <div id="lefttopcorner">
        <ul>
            <li><a href="/random">Random Cereal Generator</a></li>
            <li><a href="/top">Top 100</a></li>
            <li><a href="/compare">Compare Cereals</a></li>
        </ul>
    </div>

    <div class="logoleftop">
        <a href="/">
            <img src="/static/logo1.png" alt="Logo" width= 200 height= 50>
        </a>
    </div>

</body>