<html>

<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="topcorner">
        <p>Project Name: Cerealizer </p>
        <p>Student Name: hw534, jn437, yy596, sk854, jk2753</p>
    </div>
    <div id="lefttopcorner">
        <ul>
            <li><a href="/random">Random Cereal Generator</a></li>
            <li><a href="/top">Top 100</a></li>
            <li><a href="/compare">Compare Cereals</a></li>
        </ul>
    </div>

    <div id= searchset>
    <form class="form-inline global-search">
        <!-- <h1 style="font-size: 55px; font-family:Futura; color: rgb(97, 78, 48)">
            CEREAL
            <span style="font-size: 43px; color:black"> izer</span>
        </h1> -->
        <div id="mainpagelogo">
            <a href="/">
                <img src="/static/logo1.png" alt="Logo" width= 532 height= 132>
            </a>
        </div>
        
        
        <br><br>

        <div class="form-group">
            <input id="input" type="text" name="search" class="form-control" placeholder="Your Input">
        </div>
        <button type="submit" class="btn btn-info"> Go! </button>
    </form>
    <form class="form-inline global-search">
        {% if data %}
        <h1>{{output_message}}</h1>
        {% for d in data %}
        <br>
        <p>{{d}}</p>
        {% endfor %}
        {% endif %}
    </form>

    </div>
</body>








</html>