<html>

<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div id="lefttopcorner">
        <ul>
            <li><a href="/random">Random Cereal Generator</a></li>
            <li><a href="/top">Top 10</a></li>
            <li><a href="/compare">Compare Cereals</a></li>
        </ul>
    </div>

    <div id="searchset">
        <form class="form-inline global-search">
            <div id="mainpagelogo">
                <a href="/">
                    <img class="mlogo" src="/static/logo1.png" alt="Logo" width=532 height=132>
                </a>
            </div>

            <br><br>
            
            <div class="form-group">
                <input id="input" type="text" name="search" class="form-control"
                    placeholder="Keywords (e.g. marshmallows, chocolate, strawberry)">
                    <div id="filter">
                        <div class="filtercat">
                            <h4>Nutrients</h4>
                            <ul>
                                <li>Calories
                                    <ul>
                                        <input type="checkbox" name="calcheckbox" id="callow" value="callow" checked><label class="category-label" for="callow">Low</label>
                                        <input type="checkbox" name="calcheckbox" id="calmed" value="calmed" checked><label class="category-label" for="calmed">Medium</label>
                                        <input type="checkbox" name="calcheckbox" id="calhigh" value="calhigh" checked><label class="category-label" for="calhigh">High</label>
                                    </ul>
                                </li>
                                <li>Protein
                                    <ul>
                                        <input type="checkbox" name="procheckbox" id="prolow" value="prolow" checked><label class="category-label" for="prolow">Low</label>
                                        <input type="checkbox" name="procheckbox" id="promed" value="promed" checked><label class="category-label" for="promed">Medium</label>
                                        <input type="checkbox" name="procheckbox" id="prohigh" value="prohigh" checked><label class="category-label" for="prohigh">High</label>
                                    </ul>
                                </li>
                                <li>Fat
                                    <ul>
                                        <input type="checkbox" name="fatcheckbox" id="fatlow" value="fatlow" checked><label class="category-label" for="fatlow">Low</label>
                                        <input type="checkbox" name="fatcheckbox" id="fatmed" value="fatmed" checked><label class="category-label" for="fatmed">Medium</label>
                                        <input type="checkbox" name="fatcheckbox" id="fathigh" value="fathigh" checked><label class="category-label" for="fathigh">High</label>
                                    </ul>
                                </li>
                                <li>Sodium
                                    <ul>
                                        <input type="checkbox" name="sodcheckbox" id="sodlow" value="sodlow" checked><label class="category-label" for="sodlow">Low</label>
                                        <input type="checkbox" name="sodcheckbox" id="sodmed" value="sodmed" checked><label class="category-label" for="sodmed">Medium</label>
                                        <input type="checkbox" name="sodcheckbox" id="sodhigh" value="sodhigh" checked><label class="category-label" for="sodhigh">High</label>
                                    </ul>
                                </li>
                                <li>Fiber
                                    <ul>
                                        <input type="checkbox" name="fibcheckbox" id="fiblow" value="fiblow" checked><label class="category-label" for="fiblow">Low</label>
                                        <input type="checkbox" name="fibcheckbox" id="fibmed" value="fibmed" checked><label class="category-label" for="fibmed">Medium</label>
                                        <input type="checkbox" name="fibcheckbox" id="fibhigh" value="fibhigh" checked><label class="category-label" for="fibhigh">High</label>
                                    </ul>
                                </li>
                                <li>Carbohydrate
                                    <ul>
                                        <input type="checkbox" name="carbcheckbox" id="carblow" value="carblow" checked><label class="category-label" for="carblow">Low</label>
                                        <input type="checkbox" name="carbcheckbox" id="carbmed" value="carbmed" checked><label class="category-label" for="carbmed">Medium</label>
                                        <input type="checkbox" name="carbcheckbox" id="carbhigh" value="carbhigh" checked><label class="category-label" for="carbhigh">High</label>
                                    </ul>
                                </li>
                                <li>Sugar
                                    <ul>
                                        <input type="checkbox" name="sugcheckbox" id="suglow" value="suglow" checked><label class="category-label" for="suglow">Low</label>
                                        <input type="checkbox" name="sugcheckbox" id="sugmed" value="sugmed" checked><label class="category-label" for="sugmed">Medium</label>
                                        <input type="checkbox" name="sugcheckbox" id="sughigh" value="sughigh" checked><label class="category-label" for="sughigh">High</label>
                                    </ul>
                                </li>
                                <li>Potassium
                                    <ul>
                                        <input type="checkbox" name="potcheckbox" id="potlow" value="potlow" checked><label class="category-label" for="potlow">Low</label>
                                        <input type="checkbox" name="potcheckbox" id="potmed" value="potmed" checked><label class="category-label" for="potmed">Medium</label>
                                        <input type="checkbox" name="potcheckbox" id="pothigh" value="pothigh" checked><label class="category-label" for="pothigh">High</label>
                                    </ul>
                                </li>
                                
                            </ul>
                            <h4>Dietary</h4>
                            <input type="checkbox" name="vegcheckbox" id="Vegan" value="Vegan" ><label class="category-label" for="Vegan" >Vegan</label>
                            <input type="checkbox" name="PFcheckbox" id="PF" value="PF" ><label class="category-label" for="PF" >Peanut Free</label>
                            <input type="checkbox" name="GFcheckbox" id="GF" value="GF" ><label class="category-label" for="GF" >Gluten Free</label>
                        </div>
                    </div>
            <script>
            function showhideform(){
                var x = document.getElementById('filter');
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else{
                    x.style.display = "none";
                }
            }
              </script>
            <button type="button" id="filterbutton" onclick="showhideform();">Filter</button>
                
            </div>
            
            <button type="submit" class="btn btn-info"> Go! </button>

        </form>
            <!-- <div class="filter">
                <div class="filtercat">
                    <h4>Nutrients</h4>
                    <ul>
                        <li>Calories
                            <ul>
                                <input type="checkbox" name="calcheckbox" id="callow" value="callow" checked><label class="category-label" for="callow">Low</label>
                                <input type="checkbox" name="calcheckbox" id="calmed" value="calmed" checked><label class="category-label" for="calmed">Medium</label>
                                <input type="checkbox" name="calcheckbox" id="calhigh" value="calhigh" checked><label class="category-label" for="calhigh">High</label>
                            </ul>
                        </li>
                        <li>Protein
                            <ul>
                                <input type="checkbox" name="procheckbox" id="prolow" value="prolow" checked><label class="category-label" for="prolow">Low</label>
                                <input type="checkbox" name="procheckbox" id="promed" value="promed" checked><label class="category-label" for="promed">Medium</label>
                                <input type="checkbox" name="procheckbox" id="prohigh" value="prohigh" checked><label class="category-label" for="prohigh">High</label>
                            </ul>
                        </li>
                        <li>Fat
                            <ul>
                                <input type="checkbox" name="fatcheckbox" id="fatlow" value="fatlow" checked><label class="category-label" for="fatlow">Low</label>
                                <input type="checkbox" name="fatcheckbox" id="fatmed" value="fatmed" checked><label class="category-label" for="fatmed">Medium</label>
                                <input type="checkbox" name="fatcheckbox" id="fathigh" value="fathigh" checked><label class="category-label" for="fathigh">High</label>
                            </ul>
                        </li>
                        <li>Sodium
                            <ul>
                                <input type="checkbox" name="sodcheckbox" id="sodlow" value="sodlow" checked><label class="category-label" for="sodlow">Low</label>
                                <input type="checkbox" name="sodcheckbox" id="sodmed" value="sodmed" checked><label class="category-label" for="sodmed">Medium</label>
                                <input type="checkbox" name="sodcheckbox" id="sodhigh" value="sodhigh" checked><label class="category-label" for="sodhigh">High</label>
                            </ul>
                        </li>
                        <li>Fiber
                            <ul>
                                <input type="checkbox" name="fibcheckbox" id="fiblow" value="fiblow" checked><label class="category-label" for="fiblow">Low</label>
                                <input type="checkbox" name="fibcheckbox" id="fibmed" value="fibmed" checked><label class="category-label" for="fibmed">Medium</label>
                                <input type="checkbox" name="fibcheckbox" id="fibhigh" value="fibhigh" checked><label class="category-label" for="fibhigh">High</label>
                            </ul>
                        </li>
                        <li>Carbohydrate
                            <ul>
                                <input type="checkbox" name="carbcheckbox" id="carblow" value="carblow" checked><label class="category-label" for="carblow">Low</label>
                                <input type="checkbox" name="carbcheckbox" id="carbmed" value="carbmed" checked><label class="category-label" for="carbmed">Medium</label>
                                <input type="checkbox" name="carbcheckbox" id="carbhigh" value="carbhigh" checked><label class="category-label" for="carbhigh">High</label>
                            </ul>
                        </li>
                        <li>Sugar
                            <ul>
                                <input type="checkbox" name="sugcheckbox" id="suglow" value="suglow" checked><label class="category-label" for="suglow">Low</label>
                                <input type="checkbox" name="sugcheckbox" id="sugmed" value="sugmed" checked><label class="category-label" for="sugmed">Medium</label>
                                <input type="checkbox" name="sugcheckbox" id="sughigh" value="sughigh" checked><label class="category-label" for="sughigh">High</label>
                            </ul>
                        </li>
                        <li>Potassium
                            <ul>
                                <input type="checkbox" name="potcheckbox" id="potlow" value="potlow" checked><label class="category-label" for="potlow">Low</label>
                                <input type="checkbox" name="potcheckbox" id="potmed" value="potmed" checked><label class="category-label" for="potmed">Medium</label>
                                <input type="checkbox" name="potcheckbox" id="pothigh" value="pothigh" checked><label class="category-label" for="pothigh">High</label>
                            </ul>
                        </li>
                        
                    </ul>
                    <h4>Dietary</h4>
                    <input type="checkbox" name="vegcheckbox" id="Vegan" value="Vegan" ><label class="category-label" for="Vegan" >Vegan</label>
                    <input type="checkbox" name="PFcheckbox" id="PF" value="PF" ><label class="category-label" for="PF" >Peanut Free</label>
                    <input type="checkbox" name="GFcheckbox" id="GF" value="GF" ><label class="category-label" for="GF" >Gluten Free</label>
                </div>
            </div> -->
            
        <div class="search-result">
            {% if query %}
            <h3 class="output-message">Your keyword(s): {{query}}</h3>
            {% endif %}
            <br>
            {% if data %}
            {% for d in data %}
            <div class="cereal">
                <div class="cereal-img">
                    <img src="{{d['img_url']}}" alt="{{d['name']}}" height=200 width=200>
                </div>
                <div class="cereal-info">
                    <h3>{{d['name']}}</h3>
                    <p><strong>Made by:</strong> {{d['manufacturer']}}</p>
                    <p><strong>Rating:</strong> {{d['rating']}}</p>
                    <p>{{d['description']}}</p>
                    <h4>Nutrition Facts</h4>
                    <div class="nutrition-facts">
                        <p><strong>Calories:</strong> {{d['calories']}}</p>
                        <p><strong>Protein:</strong> {{d['protein']}}</p>
                        <p><strong>Fat:</strong> {{d['fat']}}</p>
                        <p><strong>Sodium:</strong> {{d['sodium']}}</p>
                        <p><strong>Sugar:</strong> {{d['sugars']}}</p>
                        <p><strong>Carbohydrate:</strong> {{d['carbo']}}</p>
                        <p><strong>Fiber:</strong> {{d['fiber']}}</p>
                        <p><strong>Potassium:</strong> {{d['potass']}}</p>
                    </div>
                </div>

            </div>
            {% endfor %}
            {% else %}
            {% if query %}
            <p class="no-result-label">No result found</p>
            {% endif %}
            {% endif %}
        </div>

    </div>

<div class="sfooter">
    <p>Project Name: Cerealizer </p>
    <p>Student Name: hw534, jn437, yy596, sk854, jk2753</p>
</div>

</body>

</html>
