<html>

<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="topcorner">
        <p>Project Name: Cerealizer </p>
        <p>Student Name: hw534, jn437, yy596, sk854, jk2753</p>
    </div>
    <div id="lefttopcorner">
        <ul>
            <li><a href="/random">Random Cereal Generator</a></li>
            <li><a href="/top">Top 100</a></li>
            <li><a href="/compare">Compare Cereals</a></li>
        </ul>
    </div>

    <div id="searchset">
        <form class="form-inline global-search">
            <!-- <h1 style="font-size: 55px; font-family:Futura; color: rgb(97, 78, 48)">
            CEREAL
            <span style="font-size: 43px; color:black"> izer</span>
        </h1> -->
            <div id="mainpagelogo">
                <a href="/">
                    <img class="mlogo" src="/static/logo1.png" alt="Logo" width=532 height=132>
                </a>
            </div>


            <br><br>

            <div class="form-group">
                <input id="input" type="text" name="search" class="form-control"
                    placeholder="Keywords (e.g. marshmallows, chocolate, strawberry)">
            </div>
            <button type="submit" class="btn btn-info"> Go! </button>
        </form>
        <div class="search-result">
            <h3 class="output-message">Your keyword(s): {{query}}</h3>
            <br>
            {% if data %}
            {% for d in data %}
            <div class="cereal">
                <div class="cereal-img">
                    <img src="{{d['img_url']}}" alt="{{d['name']}}" height=200 width=200>
                </div>
                <div class="cereal-info">
                    <h3>{{d['name']}}</h3>
                    <p><strong>Made by:</strong> {{d['manufacturer']}}</p>
                    <p><strong>Rating:</strong> {{d['rating']}}</p>
                    <p>{{d['description']}}</p>
                    <h4>Nutrition Facts</h4>
                    <div class="nutrition-facts">
                        <p><strong>Calories:</strong> {{d['calories']}}</p>
                        <p><strong>Protein:</strong> {{d['protein']}}</p>
                        <p><strong>Fat:</strong> {{d['fat']}}</p>
                        <p><strong>Sodium:</strong> {{d['sodium']}}</p>
                        <p><strong>Sugar:</strong> {{d['sugars']}}</p>
                        <p><strong>Carbohydrate:</strong> {{d['carbo']}}</p>
                        <p><strong>Fiber:</strong> {{d['fiber']}}</p>
                        <p><strong>Potassium:</strong> {{d['potass']}}</p>
                    </div>
                </div>

            </div>
            {% endfor %}
            {% else %}
            {% if query %}
            <p class="no-result-label">No result found</p>
            {% endif %}
            {% endif %}
        </div>

    </div>
</body>

</html>
