<html>

<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div id="lefttopcorner">
        <ul>
            <li><a href="https://cerealizer-v1.herokuapp.com/">Version One</a></li>
            <li><a href="/top">Rankings</a></li>
        </ul>
    </div>

    <div class="logoleftop">
        <a href="/">
            <img src="/static/logo1.png" alt="Logo" width=200 height=50>
        </a>
    </div>

    <!-- <div class="sfooter">
        <p>Project Name: Cerealizer </p>
        <p>Student Name: hw534, jn437, yy596, sk854, jk2753</p>
    </div> -->


</body>